@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap");
/*==================================================================
# mixins
==================================================================*/
/*==================================================================
# colors
==================================================================*/
/*==================================================================
# common - 全体に共通するスタイル
==================================================================*/
@media screen and (max-width: 767px) {
  .is-pc {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .is-sp {
    display: none;
  }
}
body {
  font-size: 16px;
  color: #3e3e3e;
  font-family: "游ゴシック", "游ゴシック体", "Yu Gothic Medium", "YuGothic", sans-serif;
  line-height: 19/16;
  background: #f3f3f3;
}

img {
  width: 100%;
}

.inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
  box-sizing: content-box;
}
@media screen and (max-width: 767px) {
  .inner {
    padding: 0 16px;
  }
}

/*header
--------------------------------------------------------*/
.header {
  background: #ffffff1a;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  font-family: "Montserrat", sans-serif;
}
@media screen and (max-width: 767px) {
  .header {
    background: white;
  }
}
.header .drawer-hamburger-icon {
  background: #3e3e3e;
  height: 4px;
  border-radius: 2px;
}
.drawer-open .header .drawer-hamburger-icon {
  background: transparent;
}
.drawer-open .header .drawer-hamburger-icon::before, .drawer-open .header .drawer-hamburger-icon::after {
  background: #fff;
}
.header .drawer-hamburger-icon::before, .header .drawer-hamburger-icon::after {
  background: #3e3e3e;
  height: 4px;
  border-radius: 2px;
}

.drawer-overlay {
  background: #3e3e3e;
  opacity: 0.7;
  z-index: 19;
}

.header-logo {
  font-size: 23px;
  font-weight: bold;
  width: 160px;
  font-family: "Montserrat", sans-serif;
  color: #3e3e3e;
  line-height: 68px;
}

.header-inner {
  height: 83px;
  line-height: 83px;
}
@media screen and (max-width: 767px) {
  .header-inner {
    height: 68px;
  }
}

@media screen and (max-width: 767px) {
  .header-nav {
    background-color: #fff;
    padding-top: 128px;
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .drawer--right .drawer-nav {
    width: 300px;
    right: -18.75rem;
  }
}

@media screen and (max-width: 767px) {
  .drawer--right.drawer-open .drawer-hamburger {
    right: 18.75rem;
  }
}

@media screen and (min-width: 768px) {
  .drawer-toggle {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .header-nav-list {
    text-align: center;
  }
}

.header-nav-item {
  display: inline-block;
}
@media screen and (min-width: 768px) {
  .header-nav-item + .header-nav-item {
    margin-left: 28px;
  }
}
@media screen and (max-width: 767px) {
  .header-nav-item {
    display: block;
    height: 54px;
  }
}

.header-nav-item-link {
  display: inline-block;
  color: #3e3e3e;
  height: 30px;
  line-height: 30px;
  letter-spacing: 0.025em;
  position: relative;
  padding: 0 2px;
}
@media screen and (max-width: 767px) {
  .header-nav-item-link {
    font-size: 18px;
    padding: 0 15px;
    height: 60px;
    line-height: 60px;
  }
}
@media screen and (min-width: 768px) {
  .header-nav-item-link {
    transition: color 0.4s;
  }
  .header-nav-item-link:hover::after {
    position: absolute;
    content: "";
    background: #3e3e3e;
    height: 1px;
    width: 100%;
    bottom: 0;
    left: 50%;
    transform: translatex(-50%);
  }
}

.footer {
  background: #3e3e3e;
  padding: 60px 0;
  color: #fff;
}
@media screen and (max-width: 767px) {
  .footer {
    text-align: center;
    padding: 44px 0;
  }
}

@media screen and (min-width: 768px) {
  .footer-inner {
    display: flex;
    padding: 0 120px;
    max-width: 1200px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .footer-left {
    margin-right: auto;
  }
}

@media screen and (max-width: 767px) {
  .footer-sns-list {
    margin-top: 14px;
  }
}

.footer-sns-item {
  display: inline-block;
}
.footer-sns-item + .footer-sns-item {
  margin-left: 32px;
}
@media screen and (max-width: 767px) {
  .footer-sns-item + .footer-sns-item {
    margin-left: 46px;
  }
}

.footer-sns-item-link {
  color: #3e3e3e;
  opacity: 0.6;
  font-size: 36px;
  display: block;
  transition: opacity 0.4s;
}
.footer-sns-item-link:hover {
  opacity: 0.5;
}

.footer-nav-list {
  margin-top: 26px;
}
@media screen and (max-width: 767px) {
  .footer-nav-list {
    margin-top: 32px;
    font-size: 14px;
  }
}

.footer-nav-item + .footer-nav-item {
  margin-top: 18px;
}
@media screen and (max-width: 767px) {
  .footer-nav-item + .footer-nav-item {
    margin-top: 8px;
  }
}

.footer-nav-item-link {
  color: #fff;
  letter-spacing: 0.025em;
  position: relative;
  display: inline-block;
  height: 30px;
  line-height: 30px;
}
@media screen and (max-width: 767px) {
  .footer-nav-item-link {
    line-height: 1.85714;
  }
}
.footer-nav-item-link:hover::after {
  position: absolute;
  content: "";
  background: #fff;
  height: 1px;
  width: 100%;
  bottom: 0;
  left: 50%;
  transform: translatex(-50%);
}

@media screen and (min-width: 768px) {
  .footer-right {
    margin-left: auto;
  }
}
@media screen and (max-width: 767px) {
  .footer-right {
    margin-top: 36px;
  }
}

.footer-logo {
  font-size: 40px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  color: #e3e3e3;
}
@media screen and (max-width: 767px) {
  .footer-logo {
    font-size: 32px;
    text-align: center;
  }
}

.footer-copyright {
  margin-top: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  letter-spacing: 0.025em;
  opacity: 0.4;
  text-align: right;
  color: #fff;
}
@media screen and (max-width: 767px) {
  .footer-copyright {
    margin-top: 12px;
    text-align: center;
  }
}

.section {
  padding: 120px 0;
}
@media screen and (max-width: 767px) {
  .section {
    padding-top: 40px;
  }
}

/* util
--------------------------------------------------------*/
.util-title {
  font-size: 36px;
  font-weight: 600;
  text-align: center;
  line-height: 1;
  font-family: "Montserrat", sans-serif;
  padding-top: 62px;
}
@media screen and (max-width: 767px) {
  .util-title {
    font-size: 30px;
    padding-top: 44px;
  }
}

.util-link {
  font-size: 20px;
  letter-spacing: 0.2em;
  color: #3e3e3e;
  border: solid 1px #707070;
  background: #fff;
  display: inline-block;
  padding: 20px 78px;
  transition: background-color 0.4s, color 0.4s;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
@media screen and (max-width: 767px) {
  .util-link {
    font-size: 18px;
  }
}
.util-link:hover {
  background: #3e3e3e;
  color: #fff;
}

.util-orange-link {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  display: inline-block;
  padding: 16px 50px;
  background: #ffaa3b;
  border-radius: 10px;
  display: inline-block;
  text-decoration: none;
  box-shadow: 0 3px 5px rgba(62, 62, 62, 0.2);
  text-align: center;
  transition: 0.4s;
}
@media screen and (max-width: 767px) {
  .util-orange-link {
    font-size: 16px;
  }
}

/*top
--------------------------------------------------------*/
.top {
  background: url(../img/mv.png) no-repeat center center/cover;
  height: 648px;
  width: 100%;
  position: relative;
}
@media screen and (max-width: 767px) {
  .top {
    background-position: 20% center;
    height: 668px;
  }
}

@media screen and (min-width: 768px) {
  .top-message-inner {
    margin: 0 auto;
    max-width: 1240px;
    padding: 228px 20px 0 0;
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .top-message-inner {
    padding: 222px 16px 0;
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .top-message {
    margin-left: auto;
    width: 600px;
  }
}

.top-message-title {
  font-weight: bold;
  letter-spacing: 0.000625em;
  font-size: 32px;
  line-height: 1.5;
}
@media screen and (max-width: 767px) {
  .top-message-title {
    font-size: 24px;
    line-height: 1.66666;
  }
}

.top-message-text {
  margin-top: 28px;
  font-size: 18px;
  letter-spacing: 0.025em;
  font-weight: bold;
  line-height: 1.5555;
}
@media screen and (max-width: 767px) {
  .top-message-text {
    font-size: 14px;
    line-height: 1.66666;
    margin-top: 18px;
    letter-spacing: 0.025em;
  }
}

.top-footer {
  margin-top: 40px;
}
@media screen and (max-width: 767px) {
  .top-footer {
    text-align: center;
    margin-top: 24px;
  }
}

.top-button:hover {
  background: #f18900;
}
@media screen and (max-width: 767px) {
  .top-button {
    padding: 16px 32px;
  }
}

/*news
--------------------------------------------------------*/
@media screen and (max-width: 767px) {
  .news {
    position: relative;
    margin: 0;
    height: 574px;
  }
}

.news-content {
  background: #fff;
  padding: 0 40px 40px;
  box-shadow: 0 5px 12px rgba(62, 62, 62, 0.2);
}
@media screen and (max-width: 767px) {
  .news-content {
    position: absolute;
    top: -7%;
    max-width: 90%;
    margin: 0 auto;
    left: 50%;
    transform: translateX(-50%);
  }
}
@media screen and (max-width: 767px) {
  .news-content {
    padding: 0 0 40px;
  }
}

.news-items {
  margin: 66px auto 0;
  width: 1080px;
  max-width: 100%;
}
@media screen and (max-width: 767px) {
  .news-items {
    margin: 41px auto 38px;
  }
}
.news-items a {
  color: #3e3e3e;
}

.news-item {
  display: flex;
  padding: 38px 0;
  border-bottom: 1px solid #cecdcd;
  align-items: center;
  position: relative;
  transition: background-color 0.4s;
}
.news-item::after {
  position: absolute;
  content: "";
  top: 50%;
  transform: translateY(-50%);
  background: transparent url(../img/news-arrow.png) no-repeat center center/contain;
  right: 16px;
  width: 11px;
  height: 21px;
}
.news-item:hover {
  background: #4973ff1a;
}
@media screen and (max-width: 767px) {
  .news-item {
    padding: 13px 12px 10px;
  }
}
.news-item:first-child {
  border-top: 1px solid #cecdcd;
}
@media screen and (max-width: 767px) {
  .news-item {
    display: block;
  }
}

.news-meta {
  display: flex;
  width: 259px;
}

.news-date {
  width: 100px;
  height: 26px;
  line-height: 26px;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.025em;
  font-size: 18px;
}
@media screen and (max-width: 767px) {
  .news-date {
    width: auto;
    font-size: 14px;
  }
}

.news__label {
  width: 121px;
  height: 32px;
  line-height: 30px;
  text-align: center;
  background: #fff;
  border-radius: 50px;
  border: 2px solid #3b69ff;
  font-size: 14px;
  text-decoration: none;
  transition: all 0.3s ease 0s;
  margin-left: 38px;
}
@media screen and (max-width: 767px) {
  .news__label {
    margin-left: 25px;
    width: 81px;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
  }
}

.news__text {
  width: calc(100% - 227px);
  padding-right: 83px;
  margin-left: 40px;
  line-height: 1.55555;
  font-size: 18px;
  letter-spacing: 0.025em;
}
@media screen and (max-width: 767px) {
  .news__text {
    margin: 0;
    width: 100%;
    margin-top: 4px;
    padding-right: 32px;
    line-height: 1.42857;
    font-size: 14px;
  }
}

.news__footer {
  text-align: center;
  margin-top: 38px;
}
@media screen and (max-width: 767px) {
  .news-link {
    letter-spacing: 0.2;
    padding: 17px 98px;
  }
}

/* service
--------------------------------------------------------*/
.service {
  padding: 0;
  background: #3e3e3e;
  position: relative;
  margin-bottom: 215px;
}
@media screen and (max-width: 767px) {
  .service {
    margin-bottom: 390px;
  }
}

.service-title {
  color: #fff;
  width: 100%;
  height: 400px;
}
@media screen and (max-width: 767px) {
  .service-title {
    height: 480px;
  }
}

.service-items {
  position: absolute;
  top: 164px;
  left: 50%;
  width: 960px;
  max-width: 91%;
  transform: translateX(-50%);
}
@media screen and (max-width: 767px) {
  .service-items {
    top: 117px;
  }
}

.service-list-items {
  display: flex;
  background: #fff;
  box-shadow: 0 5px 12px rgba(62, 62, 62, 0.2);
  justify-content: space-between;
  padding: 60px 45px 52px;
}
@media screen and (max-width: 767px) {
  .service-list-items {
    display: block;
    height: auto;
    padding: 38px 16px;
  }
}

.service-list-item + .service-list-item {
  margin-left: 90px;
  margin-top: 5px;
}
@media screen and (max-width: 767px) {
  .service-list-item + .service-list-item {
    margin-left: 0;
    margin-top: 52px;
  }
}

.service-item-picture {
  width: 50px;
  margin: 10px auto;
}
@media screen and (max-width: 767px) {
  .service-item-picture {
    margin: 14px auto;
    height: 42px;
  }
}
.service-item-picture img {
  display: block;
}

.service-item-title {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  letter-spacing: 0.2em;
  line-height: 1.4;
  margin-top: 18px;
  font-size: 20px;
}
@media screen and (max-width: 767px) {
  .service-item-title {
    margin-top: 8px;
    line-height: 1.2;
  }
}

.service-item-text {
  margin-top: 20px;
  line-height: 1.714285;
  font-size: 14px;
}
@media screen and (max-width: 767px) {
  .service-item-text {
    margin-top: 14px;
  }
}

/* results
--------------------------------------------------------*/
.results {
  padding-left: 40px;
}
@media screen and (max-width: 767px) {
  .results {
    padding: 0;
  }
}

.results-contain {
  background: #3e3e3e;
  padding: 64px 0 60px 60px;
}
@media screen and (max-width: 767px) {
  .results-contain {
    padding: 44px 0 40px 16px;
    text-align: center;
  }
}

.results-title {
  text-align: left;
  color: #fff;
  padding: 0;
}
@media screen and (max-width: 767px) {
  .results-title {
    text-align: center;
    padding-right: 16px;
  }
}

.results-list {
  margin-top: 66px;
}
@media screen and (max-width: 767px) {
  .results-list {
    margin-top: 40px;
  }
}

.slick-slide + .slick-slide {
  margin-left: 40px;
}
@media screen and (max-width: 767px) {
  .slick-slide + .slick-slide {
    margin-left: 20px;
  }
}

.slide-item {
  width: 400px;
}
@media screen and (max-width: 767px) {
  .slide-item {
    width: 274px;
  }
}

.results-item-body {
  background: #fff;
  color: #3e3e3e;
  padding: 16px;
}
@media screen and (max-width: 767px) {
  .results-item-body {
    padding: 12px;
  }
}

.results-item-titel {
  font-size: 20px;
  font-weight: bold;
}
@media screen and (max-width: 767px) {
  .results-item-titel {
    font-size: 14px;
  }
}

.results-item-text {
  margin-top: 16px;
  line-height: 1.5;
}
@media screen and (max-width: 767px) {
  .results-item-text {
    font-size: 12px;
    margin-top: 12px;
  }
}

.results-footer {
  margin-top: 40px;
}
@media screen and (max-width: 767px) {
  .results-footer {
    margin-top: 24px;
    padding-right: 16px;
  }
}
.results-footer a {
  color: #fff;
  border: solid 1px #fff;
  background: #3e3e3e;
}
.results-footer a:hover {
  background: #fff;
  color: #3e3e3e;
}

@media screen and (max-width: 767px) {
  .results-link {
    letter-spacing: 0.2;
    padding: 17px 98px;
  }
}

.slide-dots {
  margin-top: 42px;
}
@media screen and (max-width: 767px) {
  .slide-dots {
    margin-top: 28px;
  }
}
.slide-dots li {
  display: inline-block;
  margin-right: 34px;
}
.slide-dots li button {
  position: relative;
  text-indent: -9999px;
}
.slide-dots li button:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  height: 12px;
  width: 12px;
  border-radius: 50%;
}
.slide-dots li.slick-active button:before {
  background-color: #fff;
  border: solid 1px #3e3e3e;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  box-shadow: 0 0 0 1px #fff;
  top: -1px;
}

/* price
--------------------------------------------------------*/
.price {
  padding-top: 126px;
}
@media screen and (max-width: 767px) {
  .price {
    padding: 40px 16px 120px;
  }
}

.price-title {
  padding: 0;
}

.price__table {
  width: 80%;
  margin: 64px auto 0;
}
@media screen and (max-width: 767px) {
  .price__table {
    margin-top: 44px;
    width: 100%;
  }
}

.table {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
  border: 1px solid #707070;
  font-size: 24px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  box-sizing: content-box;
}
@media screen and (max-width: 767px) {
  .table {
    font-size: 20px;
  }
}
.table th,
.table td {
  border: 1px solid #707070;
  padding: 10px 40px;
  height: 61px;
  vertical-align: middle;
  line-height: 1.2;
}
@media screen and (max-width: 767px) {
  .table th,
.table td {
    padding: 2px 20px;
    height: 56px;
  }
}
.table th {
  background: #3e3e3e;
  color: #ffffff;
  text-align: center;
}
.table th:first-child {
  width: 262px;
}
@media screen and (max-width: 767px) {
  .table th:first-child {
    width: 29.3%;
  }
}
.table td {
  background: #fff;
  text-align: left;
  padding-right: 23px;
}

.price__attention {
  margin-top: 12px;
  font-size: 12px;
}
@media screen and (max-width: 767px) {
  .price__attention {
    margin-top: 8px;
  }
}

/* bg-wrapper
--------------------------------------------------------*/
.bg-wrapper {
  position: relative;
}
.bg-wrapper::before {
  background: #3e3e3e;
  bottom: 0;
  content: "";
  display: block;
  left: 0;
  position: absolute;
  top: 294px;
  width: 100%;
  z-index: -1;
}
@media screen and (min-width: 768px) {
  .bg-wrapper::before {
    bottom: 258px;
    top: 146px;
    width: 76.5625%;
  }
}

/* comments
--------------------------------------------------------*/
.comments {
  padding-top: 0;
  position: relative;
}
@media screen and (max-width: 767px) {
  .comments {
    padding: 0;
    background: #3e3e3e;
    height: 425px;
  }
}

.comments-inner {
  display: flex;
  align-items: center;
}

.comments-main {
  background: #fff;
  padding: 0 60px 124px;
  z-index: 10;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
}
@media screen and (max-width: 767px) {
  .comments-main {
    padding: 0 20px 29px;
    position: absolute;
    top: -60px;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
  }
}

.comments-main-title {
  text-align: left;
  padding-top: 120px;
}
@media screen and (max-width: 767px) {
  .comments-main-title {
    padding-top: 42px;
  }
}

.comments-item {
  display: flex;
  margin-top: 60px;
}
@media screen and (max-width: 767px) {
  .comments-item {
    margin-top: 42px;
  }
}

.comments-item-picture {
  width: 100px;
}
@media screen and (max-width: 767px) {
  .comments-item-picture {
    width: 60px;
  }
}
.comments-item-picture img {
  width: 100%;
}

.comments-item-body {
  padding-left: 32px;
  line-height: 1.5;
  width: calc(100% - 100px);
}
@media screen and (max-width: 767px) {
  .comments-item-body {
    padding-left: 20px;
    width: calc(100% - 60px);
    font-size: 14px;
    line-height: 1.4285;
  }
}

.comments-picture {
  flex: 0 0 44.5%;
  z-index: 10;
}

/* faqs
--------------------------------------------------------*/
.faqs {
  background: url(../img/qa-bg.png);
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
  padding-top: 0;
  color: #3e3e3e;
  font-family: "Montserrat", sans-serif;
}
@media screen and (max-width: 767px) {
  .faqs {
    padding-bottom: 60px;
  }
}

.faqs-items {
  padding-top: 68px;
}
@media screen and (max-width: 767px) {
  .faqs-items {
    padding-top: 36px;
  }
}

.faqs-item {
  background: #fff;
  width: 51%;
  margin: 0 0 0 auto;
  border-radius: 4px;
  font-family: "游ゴシック", "游ゴシック体", "Yu Gothic Medium", "YuGothic", sans-serif;
}
@media screen and (max-width: 767px) {
  .faqs-item {
    margin: 0 auto;
    width: 100%;
  }
}
.faqs-item + .faqs-item {
  margin-top: 31px;
}
@media screen and (max-width: 767px) {
  .faqs-item + .faqs-item {
    margin-top: 24px;
  }
}

.faqs-box {
  padding: 0 16px;
}

.faqs-box__q {
  padding: 16px 40px;
  font-weight: bold;
  position: relative;
  line-height: 1.5;
}
.faqs-box__q::before {
  content: "";
  width: 24px;
  height: 24px;
  background: #3b69ff;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.faqs-box__q::after {
  content: "Q";
  color: #fff;
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
}

.faqs-box__icon {
  width: 17px;
  height: 17px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.faqs-box__icon.is-open .faqs-box__bar2 {
  transform: rotate(90deg);
}

.faqs-box__bar1 {
  width: 17px;
  height: 3px;
  background: #3b69ff;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}

.faqs-box__bar2 {
  width: 3px;
  height: 17px;
  background: #3b69ff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  transition: all 0.3s ease 0s;
}

.faqs-box__a {
  padding-bottom: 15px;
  display: none;
}

.faqs-box__content {
  background: #3b69ff33;
  padding: 12px 16px;
  border-radius: 4px;
  line-height: 1.5;
}
@media screen and (max-width: 767px) {
  .faqs-box__content {
    font-size: 14px;
    padding: 12px 12px 6px;
  }
}

/* access
--------------------------------------------------------*/
.access {
  position: relative;
  padding-top: 127px;
  padding-bottom: 116px;
}
@media screen and (max-width: 767px) {
  .access {
    background: #3e3e3e;
    padding-top: 44px;
    padding-bottom: 60px;
  }
}

.access-inner {
  padding-left: 100px;
}
@media screen and (min-width: 768px) {
  .access-inner {
    display: grid;
    grid-template-columns: 414px 1fr;
    grid-template-rows: auto 1fr;
  }
}
@media screen and (max-width: 767px) {
  .access-inner {
    display: block;
    padding-left: 16px;
  }
}

.access-main {
  color: #fff;
}
@media screen and (min-width: 768px) {
  .access-main {
    grid-area: 1/1/2/2;
  }
}
@media screen and (max-width: 767px) {
  .access-main {
    width: 100%;
  }
}

.access-main-title {
  padding: 0;
  text-align: left;
}

.access-info {
  margin-top: 60px;
  line-height: 1.5;
}
@media screen and (max-width: 767px) {
  .access-info {
    margin-top: 40px;
    font-size: 14px;
  }
}

@media screen and (min-width: 768px) {
  .access__map {
    grid-area: 1/2/3/3;
    height: 520px;
    flex: 0 1 720px;
  }
}
@media screen and (max-width: 767px) {
  .access__map {
    width: 100%;
    margin-top: 18px;
  }
}

.frame-wrap {
  width: 100%;
  padding-top: 71.62534%;
  position: relative;
}
.frame-wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.access-footer {
  margin-top: 28px;
}
@media screen and (min-width: 768px) {
  .access-footer {
    grid-area: 2/1/3/2;
  }
}
@media screen and (max-width: 767px) {
  .access-footer {
    text-align: center;
    margin-top: 18px;
  }
}

.access-link {
  padding: 21px 78px;
  background: #3e3e3e;
  color: #fff;
  letter-spacing: 0.1em;
  border: solid 1px #fff;
}
.access-link:hover {
  background: #fff;
  color: #3e3e3e;
}
@media screen and (max-width: 767px) {
  .access-link {
    width: 100%;
    padding: 17px;
  }
}

/* contact
--------------------------------------------------------*/
.contact {
  background: url(../img/contact-bg.png) center center/cover;
  padding: 62px 0;
}
@media screen and (max-width: 767px) {
  .contact {
    padding: 40px 0;
  }
}

.contact-contain {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
}

.contact-header {
  background: url(../img/contact1.png) center center/cover;
  color: #fff;
  text-align: center;
  padding-bottom: 60px;
  border-radius: 12px 12px 0 0;
}
@media screen and (max-width: 767px) {
  .contact-header {
    padding-bottom: 40px;
    background: #000;
  }
}

.contact-text {
  margin-top: 20px;
}
@media screen and (max-width: 767px) {
  .contact-text {
    margin-top: 12px;
    text-align: left;
    padding: 0 16px;
    font-size: 14px;
    line-height: 1.4285;
  }
}

.contact-form {
  background: #fff;
  border-radius: 0 0 12px 12px;
  padding: 60px 120px;
}
@media screen and (max-width: 767px) {
  .contact-form {
    padding: 40px 12px;
  }
}

.contact-list {
  max-width: 720px;
  margin: 0 auto;
}
.contact-list + .contact-list {
  margin-top: 32px;
}

@media screen and (min-width: 768px) {
  .contact-item {
    display: flex;
  }
}

.contact-item-title {
  font-weight: bold;
}
@media screen and (min-width: 768px) {
  .contact-item-title {
    flex: 0 0 174px;
    line-height: 40px;
  }
}

@media screen and (min-width: 768px) {
  .contact-item-input {
    flex: 0 1 100%;
    margin-left: 18px;
    line-height: 40px;
  }
}
@media screen and (max-width: 767px) {
  .contact-item-input {
    margin-top: 12px;
  }
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* デフォルトの矢印を消す */
  border: 1px solid #707070;
  /* セレクトボックスのデフォルトの枠線を消す */
  border-radius: none;
  /* セレクトボックスの四隅の丸み */
  color: inherit;
  /* セレクトボックスの文字色 */
  font-family: inherit;
  padding: 12px;
  /* セレクトボックスの内側の余白 */
  font-size: 1.6re;
}
@media screen and (min-width: 768px) {
  select {
    width: 178px;
    /* セレクトボックスの幅 */
    height: 40px;
    /* セレクトボックスの高さ */
  }
}
@media screen and (max-width: 767px) {
  select {
    width: 100%;
    font-size: 14px;
  }
}
select:focus {
  outline: none;
  border: 1px solid #4973ff;
  box-shadow: 0 5px 4px -5px rgba(73, 115, 255, 0.5);
}
select:hover {
  box-shadow: 0 0 5px rgba(73, 115, 255, 0.5);
}

.select-wrap {
  position: relative;
}
@media screen and (min-width: 768px) {
  .select-wrap {
    width: 178px;
  }
}
.select-wrap::after {
  position: absolute;
  top: 40%;
  /* 矢印の位置 */
  right: 12px;
  /* 矢印の位置 */
  width: 6px;
  /* 矢印の大きさ */
  height: 6px;
  /* 矢印の大きさ */
  border-top: 2px solid #3e3e3e;
  /* 矢印の線 */
  border-right: 2px solid #3e3e3e;
  /* 矢印の線 */
  /* 矢印の傾き */
  transform: rotate(135deg);
  /* 矢印の傾き */
  pointer-events: none;
  /* 矢印部分もクリック可能にする */
  content: "";
}

.contact-item-inline {
  background: #ff4646;
  margin-left: 12px;
  color: #fff;
  font-size: 12px;
  padding: 2px 8px;
}
@media screen and (max-width: 767px) {
  .contact-item-inline {
    margin-left: 28px;
  }
}

input[type=text],
input[type=email] {
  width: 100%;
  height: 2em;
  padding: 0.5em;
  font-size: 16px;
  border: none;
  border-bottom: #cecdcd solid 1px;
  outline: none;
  background: transparent;
  box-sizing: border-box;
}
@media screen and (max-width: 767px) {
  input[type=text],
input[type=email] {
    padding: 0;
    font-size: 14px;
    height: 2em;
  }
}
input[type=text]:focus,
input[type=email]:focus {
  border-bottom: 1px solid #4973ff;
  box-shadow: 0 5px 4px -5px rgba(73, 115, 255, 0.5);
}
input[type=text]:hover,
input[type=email]:hover {
  border-bottom: 1px solid #4973ff;
  box-shadow: 0 5px 4px -5px rgba(73, 115, 255, 0.5);
}

input[type=radio] {
  opacity: 0;
  position: absolute;
}

/* ラジオボタンの枠のスタイル */
input[type=radio] + .contact-radio-part::before {
  content: "";
  border: 1px solid #707070;
  background: #fff;
  border-radius: 50%;
  display: inline-block;
  margin-right: 8px;
  width: 12px;
  height: 12px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

/* ラジオボタンの枠ホバー時のスタイル */
input[type=radio] + .contact-radio-part:hover::before {
  border-color: #3b69ff;
  box-shadow: 0 0 4px rgba(73, 115, 255, 0.2);
}

/* チェックのスタイル */
input[type=radio] + .contact-radio-part::after {
  content: "";
  background: #3b69ff;
  border-radius: 50%;
  position: absolute;
  opacity: 0;
  transition: all 0.3s;
  width: 6px;
  height: 6px;
  top: 50%;
  left: 4px;
  transform: translateY(-50%);
  z-index: 1;
}

/* フォーカス時に外枠のborderの色を変更 */
input[type=radio]:focus + .contact-radio-part::before {
  border: 1px solid #3b69ff;
  box-shadow: 0 0 6px rgba(73, 115, 255, 0.2);
}

/* チェックされた時にチェックマークを表示 */
input[type=radio]:checked + .contact-radio-part::after {
  opacity: 1;
}

/* クリックしている間に背景色をつける */
input[type=radio]:active + .contact-radio-part::before {
  background: #4973ff33;
}

.contact-radio + .contact-radio {
  margin-left: 40px;
}

.contact-radio-part {
  display: inline-block;
  font-size: 14px;
  padding-left: 30px;
  position: relative;
}

textarea {
  width: 100%;
  height: 200px;
  resize: horizontal;
  max-width: 720px;
}
@media screen and (max-width: 767px) {
  textarea {
    margin-top: 16px;
    height: 160px;
    max-width: 319px;
  }
}
textarea:focus {
  outline: none;
  border: 1px solid #4973ff;
  box-shadow: 0 0 8px rgba(73, 115, 255, 0.5);
}
textarea:hover {
  border: 1px solid #4973ff;
  box-shadow: 0 0 8px rgba(73, 115, 255, 0.5);
}

.contact-footer {
  margin: 30px auto 0;
  max-width: 720px;
}
@media screen and (max-width: 767px) {
  .contact-footer {
    margin-top: 26px;
  }
}

.contact-privacy {
  position: relative;
  display: inline-block;
  height: 22px;
  width: 22px;
  vertical-align: middle;
}

.contact-privacy-input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.contact-privacy-input:checked + .contact-privacy-part::after {
  position: absolute;
  top: 0;
  left: 5px;
  display: block;
  border-right: 2px solid #3b69ff;
  border-bottom: 2px solid #3b69ff;
  content: "";
  width: 7px;
  height: 13px;
  transform: rotate(45deg);
}
.contact-privacy-input:focus + .contact-privacy-part {
  outline: none;
  border: 1px solid #4973ff;
  box-shadow: 0 0 5px rgba(73, 115, 255, 0.2);
}
.contact-privacy-input:checked:focus + .contact-privacy-part {
  outline: none;
  box-shadow: none;
  border-color: #707070;
}
.contact-privacy-input:hover + .contact-privacy-part {
  border: 1px solid #4973ff;
  box-shadow: 0 0 5px rgba(73, 115, 255, 0.2);
}
.contact-privacy-input:active + .contact-privacy-part {
  background: #4973ff33;
}

.contact-privacy-part {
  display: block;
  border: 1px solid #707070;
  content: "";
  width: 20px;
  height: 20px;
}

.contact-privacy-link {
  margin-left: 21px;
  color: #000;
  font-weight: bold;
  font-size: 18px;
  vertical-align: middle;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  position: relative;
}
@media screen and (max-width: 767px) {
  .contact-privacy-link {
    font-size: 16px;
  }
}
@media screen and (min-width: 768px) {
  .contact-privacy-link {
    transition: color 0.4s;
  }
  .contact-privacy-link:hover::after {
    position: absolute;
    content: "";
    background: #3e3e3e;
    height: 1px;
    width: 100%;
    bottom: 0;
    left: 50%;
    transform: translatex(-50%);
  }
}

.contact-footer-submit {
  margin-top: 36px;
  display: block;
  box-sizing: border-box;
}
@media screen and (max-width: 767px) {
  .contact-footer-submit {
    margin-top: 28px;
    text-align: center;
  }
}

.contact-button {
  background: #b2b2b2;
}
@media screen and (max-width: 767px) {
  .contact-button {
    padding: 16px 50px;
  }
}
.contact-button.-active {
  background: #ffaa3b;
}
.contact-button.-active:hover {
  background: #f18900;
}

/* to-top
--------------------------------------------------------*/
#page_top {
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 9999;
  transition: all 0.3s ease 0s;
}
@media screen and (max-width: 767px) {
  #page_top {
    bottom: 13px;
    right: 16px;
  }
}
#page_top img {
  width: 50px;
}
@media screen and (max-width: 767px) {
  #page_top img {
    width: 50px;
  }
}
